/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2018, 5:09:22 PM
    Author     : Oto Kiziria
*/

*{
    box-sizing: border-box;
}

@font-face {
    font-family: mrg_caps;
    src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}

body{
    background-color: #151515;
}
.body {
    min-height: 100vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbb;
}

.center{
    text-align: center;
}
.clr{
    clear: both;
}
.menu-poll li{
    list-style: none;
    position: relative;
}
.menu-poll > li > a{
    font-family: mrg_caps;
    font-size: 16px;
    color: #6D6D6D;
}
.menu-poll .nav-child {
    padding: 0px;
    height: 0px;
    display: none;
    padding-top: 18px;
    position: absolute;
    z-index: 9;
    background-color: #fff7e9;
    border-bottom: 1px #ddd solid;
    transition: .4s;
    -webkit-transition: .4s;
    width: 100%;
}
.menu-poll .parent > a{
    padding-right: 20px;
    background-image: url(images/menuarrow.png);
    background-repeat: no-repeat;
    background-position: right 25px;
}
.menu-poll li:hover .nav-child{
    display: block;
    height: auto;
}
.menu-poll .nav-child li a {
    font-family: mrg_caps;
    font-size: 14px;
    color: #6D6D6D;
    padding: 5px 5px;
    display: block;
    border-top: 1px #ddd solid;
}

.header {
    background-color: rgb(23, 23, 23);
    min-height: 63px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    transition: .4s;
    z-index: 999;
}
.darkHeader {
    background-color: rgb(23, 23, 23);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 63px;
}

@media(max-width:991px){
    .darkHeader{
        box-shadow: #000 0px 2px 3px 1px;
    }
}

.module-polls input{
    width: 0px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 20px;
    border: none;
    transition: .4s;
    -webkit-transition: .4s;
    font-size: 14px;
    color: #666;
}
.module-polls {
    background-image: url(/images/search2.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 20px;
    float: right;
    transition: .4s;
    -webkit-transition: .4s;
    margin-top: 16px;
    position: relative;
}
.module-polls:hover{
    width: 100%;
    cursor: pointer;
    background-position: right+9px center;
    margin-top: 14px;
}
.module-polls:hover input{
    width: 100%;
    padding: 5px;
    border: 1px #ebe1d0 solid;
}
.searchboxlist{
    position: absolute;
    width: 100%;
    display: none;
    z-index: 9999;
}
.searchboxlist .listvalue{
    padding: 6px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.module-polls:hover  .searchboxlist{
    display: block;
}
.listvalue a, .listvalue {
    color: #999;
    font-size: 12px;
    font-family: mrg_caps;
}


main#content {
    margin-top: 70px;
}
.brand{
    padding-top: 8px;
}


header .navbar{
    padding-top: 0px;
    margin-bottom: 0px;
}
header .navbar > li > a{
    display: block;
    padding-top: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


.category-menu{
    min-height: 36px;
    background-color: #151515;
    box-shadow: rgba(0,0,0, 0.2) 0px 3px 4px;
}
.category-menu li{
    list-style: none;
}
.category-menu-items{
    transition: .4s;
}
.category-menu-items.fixedmenu{
    min-height: 36px;
    background-color: #232323;
    box-shadow: rgba(0,0,0, 0.2) 0px 3px 4px;
    position: fixed;
    left:0px;
    top: 60px;
    width: 100%;
    z-index: 99;
    padding-left: 10px;
    padding-right: 10px;
}

.category-menu-items > li{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}
.category-menu-items > li > ul {
    display: block;
    background-color: #151515;
    position: absolute;
    padding-left: 0px;
    left: 0px;
    width: 0px;
    overflow: hidden;
    height:0px;
    transition: width .4s;
    z-index: 999;
}
.category-menu-items > li:hover > ul, .category-menu-items > li > ul:hover {
    height: auto;
    width: 230px;
    box-shadow: #000 0px 2px 5px;
}
.category-menu-items > li > ul a{
    padding-left: 20px;
    display: block;
}
.category-menu-items{
    padding: 0px;
}
.category-menu-items > li:not(:first-child){
    margin-left: 24px;
}
.category-menu-items > li:last-child ul{
    right: 0px;
    left: auto;
}
.category-menu-items a{
    color: #fff;
    border-bottom: 2px transparent solid;
    padding-bottom: 2px;
    padding-top: 6px;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 15px;
    display: block;
}
.category-menu-items a:hover, .category-menu-items .active > a{
    border-bottom: 2px #fff solid;
    text-decoration: none;
}



/*start main-top module*/

section.main-top {
    margin-bottom: -147px;
    padding-top: 20px;
    margin-left:-15px;
    margin-right:-15px;
}

.main-top-parallax-text{
    display: flex;
    height: calc(100vh - 26px);
    position: absolute;
    /*    top: 0px;*/
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.1) 0%, rgba(0,0,0,0.6) 61%, rgba(0,0,0,0.1) 100%);
}

.main-top-parallax-text h1{
    font-size: 55px;
    color: #ddd;
    max-width: 1200px;
    width: 90%;
}
@media(max-width:991px){
    .main-top-parallax-text h1 {
        font-size: 30px;
    }
}

.main-top-parallax-text h1 b{
    color: #207175;
    text-transform: uppercase;
    font-family: sans-serif;
}

.main-top-parallax-text .span-a {
    font-size: 25px;
    font-style: italic;
    width: max-content;
    margin: auto;
    text-align: left;
}
.main-top-parallax-text h1 >  span{
    font-size: 45px;
    margin-top: 20px;
    display: block;
    margin-bottom: 15px;
}
@media(max-width:991px){
    .main-top-parallax-text h1 >  span{
        font-size: 25px;
    }
    .main-top-parallax-text .span-a {
        font-size: 18px;
    }
}
.main-top-parallax-text .span-a{
    margin-bottom: 15px;
    color: #207175;
    display: block;
}
.main-top-parallax-text h1 {
    font-family: Gotu;
}

/*end main top module*/





.poll-module .moduletable > h3{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-family: mrg_caps;
    border-bottom: 1px #666 solid;
    padding-bottom: 1px;
    display: table;
}



.first-poll {
    padding-bottom: 15px;
    padding-top: 15px;
}
.first-poll .popular-poll{
    background-color: #171717;
    box-shadow: #000 0px 0px 9px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
@media(max-width: 991px){
    .first-poll .popular-poll {
        background-color: transparent;
        box-shadow: none;
        padding-bottom: 30px;
        padding-top: 0px;
        padding-left: 0px; 
        padding-right: 0px; 
    }
}

.popular-poll-image img {
    width: 100%;
    object-fit: cover;
    max-height: 450px;
}
.popular-poll-title a{
    color: #eee !important;
    text-transform: uppercase;
    font-family: Roboto;
}
@media(max-width:991px){
    .popular-poll-title a {
        font-size: 20px;
    }
}
.popular-poll-title{
    margin-bottom: 15px;
}
.popular-poll-answers-item{
    margin-bottom: 15px;
}
.popular-poll-answers-item b{
    color: #999;
}
.popular-poll-answers-item-bar {
    position: relative;
    margin-left: 50px;
    background-color: #207175;
}
.popular-poll-answers-item-bar-percent{
    background-color: #207175;
    border-left: 2px #207175 solid;
}
.popular-poll-answers-item-bar span{
    margin-left: -50px;
    color: #207175;
}
.popular-poll-button {
    display: block;
    padding: 10px 35px;
    background-color: #191919;
    border: 1px #207175 solid;
    font-weight: 700;
    color: #207175 !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Roboto;
    transition: .4s;
    cursor: pointer;
    /* width: 230px; */
}
.popular-poll-button:hover{
    background-color: #207175;
    color: #191919 !important;
}
.popular-poll-end-date{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}
@media(max-width: 991px){
    .popular-poll-answers{
        margin-bottom:15px;   
    }
}

.maincontainer_polls .popular-poll-answers-item {
    display: block;
    color: #999;
    font-weight: bold;
}
.maincontainer_polls .popular-poll-answers-item-bar{
    margin-top: 5px;
    box-shadow: #000 3px 3px 4px;
    background-color: rgb(53, 53, 53);
}
.maincontainer_polls .poll-statistic-block span{
    color: #ddd;
}
.maincontainer_polls .popular-poll-image{
    margin-bottom: 30px;
}
.maincontainer_polls .poll-side {
    float: left;
    width: 100%;
    max-width: 100%;
}
@media(max-width: 991px){
    .poll-side{
        margin-top: 30px !important;   
    }
}
.moduletable > h3{
    text-transform: uppercase;
    font-weight: bold;
}
.poll-module {
    margin-top: 88px;
}
@media(max-width: 991px){
    .poll-module {
        margin-top: 56px;
    }
}
.poll-block-inner img{
    width: 100%;
}

.poll-block-mainimage-tolist{
    box-shadow: rgba(0,0,0, 0.2) 2px 0px 4px;
}
.poll-block-info{
    box-shadow: rgba(0,0,0, 0.2) 2px 3px 4px;
    padding: 8px;
}
.poll-module .moduletable:nth-child(3n+1) > h3{
    color: #207175;
    border-color: #207175;
}
.poll-module .moduletable:nth-child(3n+2) > h3{
    color: #FAC05E;
    border-color: #FAC05E;
}
.poll-module .moduletable:nth-child(3n+3) > h3{
    color: #EE6352;
    border-color: #EE6352;
}

.poll-module .moduletable:nth-child(3n+1) .poll-block-info{
    background-color: #151515;
}
.poll-module .moduletable:nth-child(3n+2) .poll-block-info{
    background-color: #151515;
}
.poll-module .moduletable:nth-child(3n+3) .poll-block-info{
    background-color: #151515;
}
.countdown {
    font-size: 10px;
    color: #999;
    font-family: mrg_caps;
    min-height: 15px;
}
.poll-block-title {
    overflow: hidden;
    height: 46px;
}
.poll-block-title a{
    font-family: mrg_caps;
    font-size: 18px;
    color: #e2e2e2;
}
.poll-block-title a:hover{
    color: #333;
    text-decoration: none;
}

.poll-block-lideranswers-block {
    overflow: hidden;
    height: 21px;
    font-size: 12px;
    color: #6D6D6D;
    font-family: mrg_caps;
    margin-top: 24px;
}









.maincontainer_polls .poll-block{
    margin-bottom: 30px;
}
.controll-tabs {
    margin-bottom: 10px;
    border-bottom: 1px #207175 solid;
    margin-bottom: 30px;
    margin-top: 130px;
}
.controll-tabs a{
    color: #aaa;
    margin-right: 10px;
    font-size: 14px;
}
.pagination-list li:not(.hidden-phone) a{
    height:100%;
    position: relative;
}
.pagination-list li:not(.hidden-phone) a:hover{
    text-decoration: none;
}
.pagination-list li:not(.hidden-phone) .icon-next:before{
    content: ">";
    display: block;
    width: 100%;
    height: 100%;
    color: #868686;
    font-weight: bold;
    font-family: Gotu;
}
.pagination-list li:not(.hidden-phone) .icon-last:before{
    content: ">>";
    display: block;
    width: 100%;
    height: 100%;
    color: #868686;
    font-weight: bold;
    font-family: Gotu;
}
.pagination-list li:not(.hidden-phone) .icon-previous:before{
    content: "<";
    display: block;
    width: 100%;
    height: 100%;
    color: #868686;
    font-weight: bold;
    font-family: Gotu;
}
.pagination-list li:not(.hidden-phone) .icon-first:before{
    content: "<<";
    display: block;
    width: 100%;
    height: 100%;
    color: #868686;
    font-weight: bold;
    font-family: Gotu;
}
.polls{
    margin-top: 24px;
}
@media(max-width:991px){
    .polls {
        margin-top: 0px;
    }
}
.poll-block {
    float: left;
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
}
.poll-side{
    float: left;
    width: 100%;
    max-width: 380px;
}
.inner-poll-block-mainimage{
    position: relative;
    width: 100%;
    max-width: 700px;
    min-height: 420px;
}
.inner-poll-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.list-layout .inner-poll-block, .block-layout .inner-poll-block{
    position: inherit;
}
.inner-poll-block-title {
    padding: 12px 8px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    box-shadow: rgba(101, 101, 101, 0.9) 0px 1px 15px;
    font-family: mrg_caps;
    margin-bottom: 15px;
}
.cover-image {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}
.poll-block-answers {
    overflow: auto;
    color: #fff;
    font-family: mrg_caps;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    height: 100%;
    padding-bottom: 35px;
}
.block-layout .poll-block-answers {
    flex-direction: row;
}
.poll-bottom-info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(146, 146, 146, 0.2) 0px -2px 3px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0,0,0, 0.8);
}

.poll-block-button {
    font-family: mrg_caps;
    font-size: 14px;
    background-color: #3b5998;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64e5dc+0,59cd90+100 */
    position: relative;
    z-index: 999;
    padding: 2px 8px;
    border-radius: 3px;
    cursor: pointer;
    transform: .4s;
}
.poll-block-button:hover{
    color: #444;
    background-color: #fff;
}
.poll-bottom-info .countdown{
    margin-top: 4px;
    color: #fff;
}

/* The container */
.poll-block-answers-list {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    padding-top: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #989898 solid;
    border-radius: 25px;
}
.answer-title{
    position: relative;
    z-index: 99;
}
.block-layout .answer-title{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.block-layout .poll-block-answers-list{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
}
.block-layout .poll-block-answers-list .checkmark {
    position: inherit;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
}
.block-layout .poll-block-vote-list-count {
    margin-bottom: -23px;
    display: block;
}
.block-layout .poll-block-answers-list .checkmark:after {
    top: 3px;
}

span.answer-image img {
    margin-bottom: 4px;
}

.poll-block-vote-list{
    white-space: nowrap;
}
/* Hide the browser's default checkbox */
.poll-block-answers-list input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.poll-block-answers-list .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    display: block;
}
.poll-block-answers-list .checkmark{
    border-radius: 25px;
}

/* On mouse-over, add a grey background color */
.poll-block-answers-list:hover input ~ .checkmark {
    background-color: rgba(89, 205, 144, 0.2) !important;
}

/* When the checkbox is checked, add a blue background */
.poll-block-answers-list input:checked ~ .checkmark {
    background-color: rgba(89, 205, 144, 0.2) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.poll-block-answers-list .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.poll-block-answers-list input:checked ~ .checkmark:after{
    display: block;
}

/* Style the checkmark/indicator */
.poll-block-answers-list .checkmark:after{
    left: 10px;
    top: 6px;
    width: 7px;
    height: 13px;
    border: solid #83c341;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.poll-statistic-block{
    margin-right: 15px;
    font-size: 12px;
}
.poll-statistic{
    margin-top: 5px;
    margin-bottom: 15px;
}
.btn-facebook{
    background-color: #3b5998;
    font-size: 13px;
    color: #fff;
    font-family: mrg_caps;
}

.poll-block-vote-list-count{
    position: relative;
    z-index: 99;
}

ul.pagination-list {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
}

ul.pagination-list li{
    margin-right: 10px;
}
ul.pagination-list li a {
    color: #989898;
    display: block;
    padding: 1px 8px;
    background-color: #232323;
    box-shadow: #000 1px 1px 2px;
}
.pagination-list li.active {
    color: #207175;
}
.pagination {
    display: block;
    clear: both;
    width: 100%;
}





.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
    padding-left: 0px;
}
.tags li{
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags li a{
    display: block;
    padding: 2px 6px;
    background-color: #207175;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    font-family: mrg_caps;
}

div#popupAlert {
    position: fixed;
    width: 100%;
    top: 40%;
}
.popup {
    background-color: #fff;
    border: 2px #207175 solid;
    border-radius: 20px;
    padding: 5px 25px 5px 20px;
    color: #717171;
    font-size: 19px;
    font-family: mrg_caps;
    margin: auto;
    display: flex;
    position: relative;
    height: 50px;
    max-width: 400px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
a.popupClose {
    position: absolute;
    right: 4px;
    color: #ff0000;
    cursor: pointer;
}
.popup h2{
    margin: 0px;
    padding: 0px;
}





#contact-form{
    background-color: #f4feff;
    padding: 37px 80px;
    box-shadow: rgba(0,0,0,0.2) 0px 3px 3px;
    border-radius: 8px;
    margin: auto;
    width: 100%;
    max-width: 912px;
}
@media(max-width:991px){
    #contact-form{
        padding: 37px 40px;
    }
}
.contact-form{
    margin-top:100px;
    margin-bottom: 40px;
}
.blocks-space{
    margin-bottom: 50px;
}
.controls button{
    background-color: #207175;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 5px;
    color: #fff;
    padding: 11px 96px;
    border-radius: 8px;
    font-family: mrg_caps;
    font-size: 16px;
    border: none;
}
.blocks-space textarea{
    box-shadow: rgba(0,0,0,0.2) 3px 3px 6px;
    border: 1px #6D6D6D solid;
    border-radius: 8px;
    padding: 10px;
    height: 400px;
    resize: none;
    max-width: 100%;
}
.blocks-space input{
    box-shadow: rgba(0,0,0,0.2) 3px 3px 6px;
    border: 1px #6D6D6D solid;
    border-radius: 8px;
    padding: 10px;
    height: 32px;
    width: 100%;
    max-width: 360px;
    margin-bottom: 17px;
}
.blocks-space label{
    color: #207175;
    font-size: 14px;
}

.btn-toolbar{
    display: none;
}
ul.category{
    margin-top: 40px;
    list-style: none;
}
.tag-category{
    min-height: 500px;
}
ul.category li a{
    color: #666;
    font-family: mrg_caps;
    font-size: 15px;
    margin-bottom: 15px;
}


span.ctab.active a {
    color: #207175;
    border: 1px #207175 solid;
    background-color: #151515;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
span.ctab a {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: -1px;
    padding-bottom: 8px;
}

footer{
    background-color: #207175;
    color: #fff;
}
footer {
    font-family: mrg_caps;
    font-size: 12px;
    padding: 15px 0px;
    margin-top: 76px;
}
footer p{
    margin: 0px;
}
div#top-ge-counter-container {
    float: left;
    margin-right: 15px;
}
span.footer-text {
    margin-top: 7px;
    display: inline-block;
}



.nextpoll {
    position: fixed;
    right: -10px;
    display: flex;
    align-items: center;
    top: 50%;
    background-color: #207175;
    color: #fff;
    padding: 6px 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: #000 2px 2px 3px 2px;
    transition: .4s;
    z-index: 999;
}

.nextpoll:hover{
    right: 0px;
}
@media(max-width:991px){
    .nextpoll {
        position: initial;
        padding: 0px 20px;
    }
}
.nextpoll a{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}
.nextpoll a:hover{
    text-decoration: none;
}

.category-menu-items.d-flex{
    flex-wrap: wrap;
}

/*responsive*/
#menu-close{
    display: none;
}
#mobile-menu{
    color: #207175;
    display: none;
}

.mobile-category-button{
    display: none;
    padding-left:15px;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px #ccc solid;
    color: #fff;
    font-size: 22px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}
.mobile-category-button:before {
    content: "";
    border-top: 4px #fff solid;
    border-right: 4px #fff solid;
    transform: rotate(45deg);
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 8px;
    right: 15px;
}
li.backfromcat {
    font-size: 20px;
    color: #bdbdbd;
    position: absolute;
    top: 15px;
    right: 40px;
    display: none;
}
li.backfromcat:after {
    content: "";
    border-top: 2px solid #207175;
    border-right: 2px solid #207175;
    transform: rotate(45deg);
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    top: 11px;
    right: -10px;
}
@media only screen and (max-width: 991px) {
    .mobilevote {
        position: fixed;
        bottom: 0px;
        z-index: 9999;
        align-items: center;
        left: 0px;
        padding: 16px 0px;
        width: 100%;
        box-shadow: #000 0px 1px 4px 1px;
        background-color: #191919;
        border-radius: 5px;
        /* border: 1px #000 solid; */
    }

    .popular-poll-button {
        display: block;
        padding: 4px 10px;
        background-color: #207175;
        border: none;
        font-weight: 700;
        color: #d0d0d0 !important;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-family: Roboto;
        transition: .4s;
        border-radius: 5px;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
        /* width: 230px; */
    }
    .mobilevote .popular-poll-button {
        z-index: -1;
        opacity: 0.4;
        position: relative;
    }


    .header-search{
        display: none;
    }

    #mobile-menu {
        display: block;
        font-size: 24px;
        margin-top: 12px;
        cursor: pointer;
        text-align: right;
    }
    #menu-close{
        position: absolute;
        right: 30px;
        top: 10px;
        color: #999;
        font-size: 28px;
        z-index: 999;
        cursor: pointer;
        display: block;
    }

    .nav-collapse{
        position: fixed;
        background-color: rgba(9,9,9,0.9);
        z-index: 999;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: inherit;
    }
    .menu-poll{
        padding-top: 50px !important;
    }
    .menu-poll .nav-child{
        position: inherit;
        display: block;
        background-color: transparent;
    }
    .menu-poll > li > a {
        font-family: mrg_caps;
        font-size: 16px;
        color: #e0e0e0;
    }

    .mobile-category-button{
        display: block;
    }

    .category-menu-items.fixedmenu {
        padding-top: 50px;
        height: 100%;
        min-height: 36px;
        background-color: #232323;
        box-shadow: rgba(0,0,0, 0.2) 0px 3px 4px;
        position: fixed;
        left: auto;
        right: -100vw;
        display: block !important;
        top: 0px;
        width: 100%;
        z-index: 9999;
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
        padding-bottom: 15px;
    }
    .category-menu-items > li{
        margin-left: 24px;
        margin-right: 24px;
    }
    .category-menu-items > li a{
        font-size: 22px;
    }
    li.backfromcat{
        display: block;
    }
    .category-menu-items > li > ul {
        display: block;
        background-color: #151515;
        position: initial; 
        padding-left: 0px;
        left: 0px;
        width: auto;
        overflow: hidden;
        height: auto;
        transition: width .4s;
        z-index: 999;
    }
    .category-menu-items > li > ul a{
        font-size: 16px;
    }

}

@media only screen and (max-width: 768px) {
    .module-polls{
        margin-bottom: 10px;
    }
    .poll-block{
        margin-bottom: 20px;
    }
    .controls button{
        width: 100%;
        padding: 11px 5px;
    }
    #JasperRoberts {
        background: white;
        width: 318px !important;
        height: 270px !important;
        position: absolute;
        top: 114px !important;
        left: 20px !important;
        -webkit-box-shadow: inset 0 0 50px 0 #939393;
        -moz-box-shadow: inset 0 0 50px 0 #939393;
        box-shadow: inset 0 0 50px 0 #939393;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 0 0 0 0 !important; 
    }
}

@media only screen and (max-width: 1200px) {
    .poll-side{
        margin-top:15px;
    }
}



.addpoll-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.addpoll-container #form-control > div{
    margin-top: 15px;
    margin-bottom: 15px;
}

.poll_form_block_in input[type=file]{
    display: none;
}




















/* The container */
.popular-poll-answers-item {
    position: relative;
    cursor: pointer;
    /*    padding-left: 35px;
        margin-bottom: 15px;
        padding-top: 4px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px #989898 solid;
        border-radius: 25px;*/
}



.popular-poll-answers-item .checkmark {
    position: relative;
}

.popular-poll-answers-item .checkmark:after {
    top: 3px;
    left: 10px;
    width: 7px;
    height: 13px;
    border: solid #83c341;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
}

/* When the checkbox is checked, add a blue background */
.popular-poll-answers-item input:checked ~ .checkmark:after,  .popular-poll-answers-item:hover input ~ .checkmark:after{
    display: block;
}

.tag-category .category a{
    font-size: 20px;
    color: #eee;
    font-family: Gotu;
    margin-bottom: 30px;
    display: block;
}
.tag-category .category a:hover{
    text-decoration: none;
    color: #207175;
}